body {
    background-color:lightcyan;
}

.btn
{
    text-decoration: none;
    background-color:#cccccc;
    float:right;
    font-style:italic;
    font-size:20px;
    padding-left:8px;
    padding-top:4px;
    height:30px;
    width:68px;
    margin-top:4px;
    margin-right:15px;
    border:1px solid #cccccc;
    border-radius:48%;
    cursor:pointer;
    outline:none;
    outline-color:red;
}
.objectbox
{
    border-radius:7%;
}
p
{
  float:left;
}

#lala
{
  float:left;
  margin-left:10px;
}

.none

{
    position:fixed;
    top:0;
    left:0;
    float:left;
    width:100%;
   height:50px;
   background-color:gray;
   display:block;
   background:linear-gradient(#00ccff, #006bb3)
 

}

input[class=classreg] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

input[id=register]
{
    text-decoration: none;
    background-color:burlywood;
    height:30px;
    width:68px;
    margin-top:4px;
    margin-right:15px;
    border:1px solid #cccccc;
    border-radius:15%;
    cursor:pointer;
}